<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Daniel Stenning-West</title>
    <style>
        :root {
        --primary-color: #e74645;
        }
        
        body {
        margin-left: 1em;
        max-width: 50em;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        line-height: 1.8;
        padding: 1em;
        color: #333;
        }

        h1, h2, strong {
        color: #000;
        }

        a {
        border-bottom: 1px solid #dddddd;
        color: var(--primary-color);
        text-decoration: none;
        }

        a:hover {
        border-bottom: 1px solid var(--primary-color);
        background-color: #ffd2d2;
        text-decoration: none;
        }

    </style>
</head>
<body>
  {{ content | safe }}
</body>
</html>